html,body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.navbarTop{
	position: fixed;
	width: 100%;
	z-index: 2001;
}
nav{
	padding: 0 1rem !important;
}
.logo{
	width: 70px;
}
button{
	color: #fff !important;
}
.ulNav{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.ulNav li a{
	color: #fff !important;
}
.portada{
	background: url('../images/Beleuchtungsanlagen.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
.portadaNosotros{
	background: url('../images/nosotros.jpeg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 40%;
}
.gradient{
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+79,000000+79,000000+100&0.65+67,0+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 67%, rgba(0,0,0,0.41) 79%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.41) 79%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.41) 79%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}
.jobs{
	/*height: 100%;*/
	background: url('../images/jobs.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.jobsWhite{
	padding: 80px 0;
	background-color: rgba(255,255,255, .8);
}
.jobs .jobsWhite .container h3{
	color: #454545;
	text-align: center;
	margin-bottom: 50px;
}
.card{
	box-shadow: rgba(0,0,0,.4) 0px 0px 30px;
	padding-top: 20px;
	height: 400px;
	width: 90%;
}
.card-title{
	text-transform: capitalize !important;
}
.contenido{
	/*height: 50%;*/
	padding-top: 60px; 
	padding-bottom: 60px; 
}
.contenido2{
	padding-top: 40px; 
	padding-bottom: 60px; 
}
.nave{
	width: 100%;
}
.contentHeader{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
	height: 700px;
	color: #fff;
}
.contentHeader h2{
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.nota{
	color: #3c78d8;
}
.pNota{
	font-weight: 300;
}
.botonHeader{
	padding: 8px 12px;
	color: #fff;
	text-align: center;
	background-color: #3c78d8;
	width: 150px;
	border-radius: 20px;
	text-decoration: none !important;
	border: 1px solid #3c78d8;
}
.botonHeader:hover{
	background-color: #fff;
	border: 1px solid #3c78d8;
	color: #3c78d8;
}
.footer{
	background-color: #272727;
	color: white;
	padding: 15px 0;
	/*height: 100px;*/
}
.services{
	padding: 0 15px;
	padding-top: 15px;
	transition: .5s;
}
.services:hover{
	box-shadow: rgba(0,0,0,.5) 0px 0px 30px;
	transition: 1s;
}
.services i{
	font-size: 40px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #007bff;
}
.services div h4{
	text-align: center;
}
.servicios{
	height: 150px;
	font-size: 14px;
	font-weight: 300;
}
.serviciosItem{
	height: 150px;
}
.itemNosotros{
	height: 250px;
	font-size: 14px;
	font-weight: 300;	
}
.itemNosotros1{
	height: 150px;
	font-size: 14px;
	font-weight: 300;	
}
.itemService{
	/*margin-top: 30px;*/
	padding: 0 15px;
	padding-top: 15px;
	transition: .5s;
	font-size: 14px;
	font-weight: 300;
}
.itemService div h4{
	text-align: center;
}
.itemService div i{
	font-size: 40px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #007bff;
}
.itemService:hover{
	box-shadow: rgba(0,0,0,.5) 0px 0px 30px;
	transition: 1s;
}
.center{
	text-align: center;
	margin-bottom: 30px; 
}
.contacto{
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.contenedorInput{
	display: flex;
}
.inputs{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.textarea{
	width: 50%;
}
.inputs input{
	width: 95%;
	margin-bottom: 25px;
	height: 40px;
	border: none;
	border-radius: 5px;
	outline: none;
	font-weight: 300;
}
.textarea textarea{
	width: 95%;
	margin-bottom: 15px;
	height: 88%;
	border: none;
	border-radius: 5px;
	outline: none;
	font-weight: 300;	
}
.footerRealizado{
	font-weight: 300;
	width: 100%;
	text-align: center;
	margin-top: 35px;
}
.contactoParrafo{
	font-weight: 300;
	font-size: 15px;
}
.misVis{
	margin-bottom: 50px;
}
.nosotrosImg{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.podertNosotros{
	width: 70%;
}
.titleProveedores{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 150px;
	flex-direction: column;
	align-items: center;
}
.titleP{
	width: 85%;
	display: flex;
	justify-content: space-around;
}
.infoProveedores{
	width: 85%;
	display: flex;
	justify-content: space-between;	
	margin-top: 30px;
}
.infoProveedores div{
	width: 33.3%
}
@media (max-width: 550px ){
	.contenido{
		height: 100%;
	}
	.contenido .container .row div:first-child{
		margin-top: 0px;
	}	
	.contenido .container .row div{
		margin-top: 50px;
	}
	.contenido2{
		height: 100%;
	}
	.contenido2 .container .row div:first-child{
		margin-top: 0px;
	}	
	.contenido2 .container .row div{
		margin-top: 30px;
	}

}





